/* CSS */

body{
	margin:0;
}

main{
	padding-top: 5px;
}

h1,h2,h3{
	font-size-adjust: inherit;
	font-family: Lato,sans-serif;
	font-weight:600;
}

.texte{
	position:relative;
	z-index: 4;
}

header{
	z-index: 10;
	margin: 0;
	padding: 30px 0px;
	overflow: hidden;
	background-color: #333;
	top: 0;
	position: fixed;
	width:100%;
	font-family: Arial;	
	font-size:100%;
	font-style:bold;
}

p{
	font-family: Lato, sans-serif;
	font-size: large;
	text-align: justify;
}

footer{
	padding: 5px 5px;
	background-color:#333;
	margin:0;
	color:white;
	margin-right:auto;
	margin-left:auto;
	bottom:0%;
	position: relative;
}

.foota{
	color:white;
}

.navi{
	text-align: center;
	padding:100% 10px;
	text-decoration:none;
}

.inactive{
	color: white;
}

.navi:hover{
	background-color: #92acada3;
	color: #333;
}

.active{
	background-color: #92acad;
	color:black;
}

.imgtop{
	width:100%;
	height:100vh;
	object-fit:cover;
	object-position:0 60%;
	margin: 0;
	transform: translateY(2%);
}

.img{
	width:100%;
	height:45vh;
	object-fit:cover;

}
.stmalo{
	object-position:0 10%;
}

.stmichel{
	object-position:0 53%;
}

.broceliande{
	object-position:0 0;
}

.titre{
	z-index: 1;
	top:50vh;
	right:0;
	position:fixed;
	color:white;
	font-size:400%;
	font-family: Lato,sans-serif;
	font-style:normal;
	font-weight:600;
	margin:0;
}

.accueil{
	right:35%;
}

.malo{
	top:200px;
	right:40%;
}

.mich{
	top:200px;
	right:33%;
}

.broce{
	top:200px;
	right:26.5%;
}

.infos{
	z-index:4;
	position: relative; 
	top: 8%;
	left: 25%;
	width:50%;
	height:85% ;
}

.objets{ 
    position: absolute;
    top: 8%;
    left: 80%;
    width: 20%;
    height: 92%;
    background-color: rgb(141, 141, 141);
}

.bandeau{
	z-index: 4;
	position: relative;
	background-color: rgb(39, 39, 39);
	color: white;
	display: flex;
}
.tips{
	padding-top: 1%;
	padding-left: 7%;
	width: 50%;
}

.mid{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.center{
	text-align: center;
}

.introduction{
	background:rgb(243, 243, 243);
	text-align: center;
}

ul,ol {
	font-family: lato, sans-serif;
}

.tab{
	z-index: 4;
	position: relative;
}

.bigoudcarre{
	flex:1;
	padding-left:3%;
	padding-top: 0.5%;
	max-width: 15%;
	height: auto;
}