/* CSS */

body{
	margin:0;
}

main{
	padding-top: 5px;
}

h1,h2,h3{
	font-size-adjust: inherit;
	font-family: Lato,sans-serif;
	font-weight:600;
}

section{
	width: auto;
	height: auto;
}

a{
	text-decoration:none;
}
.texte{
	position:relative;
	z-index: 4;
}
.centre{
	text-align: center;
}
header{
	z-index: 10;
	margin: 0;
	padding: 30px 0px;
	overflow: hidden;
	background-color: #333;
	top: 0;
	position: fixed;
	width:100%;
	font-family: Arial;	
	font-size:100%;
	font-style:bold;
}

p{
	font-family: Lato, sans-serif;	
	text-align: justify;
	font-size: large;
}

footer{
	padding: 5px 5px;
	background-color:#333;
	margin:0;
	color:white;
	margin-right:auto;
	margin-left:auto;
	bottom:0%;
	position: relative;
}

.foota{
	color:white;
}

.navi{
	text-align: center;
	padding:100% 10px;
}

.inactive{
	color: white;
}

.navi:hover{
	background-color: #92acada3;
	color: #333;
}

.active{
	background-color: #92acad;
	color:black;
}

.imgtop{
	width:100%;
	height:100vh;
	object-fit:cover;
	object-position:0 60%;
	margin: 0;
	transform: translateY(2%);
}

.img{
	width:100%;
	height:45vh;
	object-fit:cover;

}

.button{
	width:19em;
	height:auto;
	margin:auto;
	background-color:#333;
	border-radius:5px;
}
.button:hover{
	background-color: #d6d6d6;
}

.Tbutton{
	padding:0;
	font-weight: bold;
	color: white;
	text-align:center;
	font-size: 140%;
}

.Tbutton:hover{
	color: #333;
}
.colonne{
	display:block;
	padding:0;	
	width:auto;
	height:auto;
	margin-left:20vh;
	margin-right:20vh;
}

.icon{
	display:block;
	margin:5vh;
	margin-left:13vh;
	margin-right:13vh;
	float:left;
	padding:0;
	z-index:10;
	width:auto;
	height:auto;
	overflow: hidden;
}

.colonne::after{
	content:'';
	clear:both;
	display:block;
}

.pic{
	display: block;
	margin: auto;
	z-index: 10;
}

.zoom div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom div:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.stmalo{
	object-position:0 10%;
}

.stmichel{
	object-position:0 53%;
}

.broceliande{
	object-position:0 0;
}

.titre{
	z-index: 1;
	top:50vh;
	width:100%;
	margin:auto;
	position:fixed;
	color:white;
	font-size:400%;
	font-family: Lato,sans-serif;
	font-style:normal;
	font-weight:600;
	text-align: center;
}

.titre2{
	top:10vw;
}

.infos{
	z-index:4;
	position: relative; 
	top: 8%;
	left: 25%;
	width:50%;
	height:85% ;
}

.objets{ 
    position: absolute;
    top: 8%;
    left: 80%;
    width: 20%;
    height: 92%;
    background-color: rgb(141, 141, 141);
}

.bandeau{
	z-index: 4;
	position: relative;
	background-color: rgb(39, 39, 39);
	color: white;

}
.tips{
	padding: 1% 25%;
}

.mid{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.center{
	text-align: center;
}

.introduction{
	background:rgb(243, 243, 243);
	text-align: center;
}

ul,ol {
	font-family: lato, sans-serif;
}

.tab{
	z-index: 4;
	position: relative;
}

#map{
	padding-top:10vh;
	top:-10vh;
	margin-bottom:-10vh;
}
.bigoudcarre{
	padding-left:5%;
	width: 14%;
	position: absolute;
}